/* Kontak */

position: absolute;
width: 1440px;
height: 610px;
left: 0px;
top: 2496px;



/* Rectangle 719 */

position: absolute;
width: 1440px;
height: 108px;
left: 0px;
top: 2998px;

background: #43A046;


/* Rectangle 41 */

position: absolute;
width: 1440px;
height: 502px;
left: 0px;
top: 2496px;

background: #FFFFFF;


/* Kemitraan Perusahaan */

position: absolute;
width: 235px;
height: 24px;
left: 955px;
top: 2844px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #263238;



/* Hubungi Kami */

position: absolute;
width: 235px;
height: 24px;
left: 955px;
top: 2886px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #263238;



/* Promo */

position: absolute;
width: 203px;
height: 24px;
left: 955px;
top: 2798px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #263238;



/* Alamat Kantor */

position: absolute;
width: 144px;
height: 28px;
left: 153px;
top: 2668px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #263238;



/* Tautan */

position: absolute;
width: 144px;
height: 28px;
left: 955px;
top: 2656px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #263238;



/* Follow kami di: */

position: absolute;
width: 173px;
height: 28px;
left: 885px;
top: 3043px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Jalan Mulawarman No. 15, Kelurahan Bongsari, Kec. Semarang Barat, Kota Semarang, Jawa Tengah */

position: absolute;
width: 502px;
height: 65px;
left: 155px;
top: 2694px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #263238;



/* Telepon */

position: absolute;
width: 144px;
height: 28px;
left: 153px;
top: 2781px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #263238;



/* +62 812 28116729 */

position: absolute;
width: 203px;
height: 24px;
left: 155px;
top: 2806px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #263238;



/* Kebijakan Privasi */

position: absolute;
width: 203px;
height: 24px;
left: 955px;
top: 2706px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #263238;



/* Syarat dan Ketentuan */

position: absolute;
width: 276px;
height: 24px;
left: 955px;
top: 2752px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #263238;



/* Surel */

position: absolute;
width: 144px;
height: 28px;
left: 153px;
top: 2888px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #263238;



/* westeproction@gmail.com */

position: absolute;
width: 262px;
height: 24px;
left: 155px;
top: 2913px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #263238;



/* Ellipse 1 */

position: absolute;
width: 57px;
height: 57px;
left: 73px;
top: 2671px;

background: #43A046;


/* Ellipse 2 */

position: absolute;
width: 57px;
height: 57px;
left: 73px;
top: 2777px;

background: #43A046;


/* Ellipse 3 */

position: absolute;
width: 57px;
height: 57px;
left: 73px;
top: 2883px;

background: #43A046;


/* 🦆 icon "mail" */

position: absolute;
width: 30px;
height: 20px;
left: 86px;
top: 2902px;



/* Vector */

position: absolute;
left: 5.97%;
right: 91.94%;
top: 93.49%;
bottom: 5.86%;

background: #FFFFFF;
border: 3.36356px solid #FFFFFF;


/* Vector */

position: absolute;
left: 6.49%;
right: 92.47%;
top: 93.65%;
bottom: 6.15%;

border: 3.36356px solid #43A046;


/* 🦆 icon "phone" */

position: absolute;
width: 27px;
height: 26.51px;
left: 88px;
top: 2793px;



/* Vector */

position: absolute;
left: 6.11%;
right: 92.01%;
top: 89.98%;
bottom: 9.17%;

background: #FFFFFF;


/* 🦆 icon "map marker" */

position: absolute;
width: 20px;
height: 28px;
left: 92px;
top: 2686px;



/* Vector */

position: absolute;
left: 6.39%;
right: 92.22%;
top: 86.53%;
bottom: 12.56%;

background: #FFFFFF;


/* ©WASTE PROCTION, 2023. ALL RIGHTS RESERVED */

position: absolute;
width: 501px;
height: 24px;
left: 50px;
top: 3045px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Group 1 */

position: absolute;
width: 303px;
height: 58px;
left: 1075px;
top: 3029px;



/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 10px;
gap: 38px;

position: absolute;
width: 303px;
height: 58px;
left: 1075px;
top: 3029px;



/* Vector */

width: 45.83px;
height: 37.31px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 23.81px;
height: 45.83px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

width: 45.83px;
height: 45.83px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* youtube */

width: 55px;
height: 55px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Vector */

position: absolute;
left: 4.13%;
right: 4.15%;
top: 17.74%;
bottom: 17.8%;

background: #FFFFFF;


/* PROCTION-removebg-preview 1 */

position: absolute;
width: 323px;
height: 112px;
left: 70px;
top: 2509px;

background: url(PROCTION-removebg-preview.png);
